{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{legend}}</legend>
<!------------------------------------------------->
<!--            for form.nazwa                    -->
                <div class="form-group">
                    {{ form.nazwa.label(class="form-control-label") }}
                    {% if form.nazwa.errors %}
<!--            if there is a error. -->
                        {{ form.nazwa(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nazwa.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
<!--            else if there aren't any errors. -->
                        {{ form.nazwa(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
<!------------------------------------------------->
<!--            for form.opis             -->
                <div class="form-group">
                    {{ form.opis.label(class="form-control-label") }}
                    {% if form.opis.errors %}
<!--            if there is a error. -->
                        {{ form.opis(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.opis.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
<!--            else if there aren't any errors. -->
                        {{ form.opis(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
<!------------------------------------------------->
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div >
        <small class="text muted">
            Tu tez mozna cos dodac
        </small>
    </div>

{%  endblock content %}