{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4">Lista Urządzeń:</legend>
<div>
    <small class="text muted">
        <a class="ml-2" href="{{ url_for('dodajurzadzenie') }}">Dodaj urządzenie</a>
    </small>
</div>
{% for urzadzenie in urzadzenia %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('pokazurzadzenie', id_urzadzenie=urzadzenie.id_urzadzenie) }}">id:{{urzadzenie.id_urzadzenie}}</a>
            <a class="mr-2">nr. ser: {{urzadzenie.nr_seryjny}}</a>
            <a class="mr-2">nazwa: {{urzadzenie.nazwa_urzadzenia}}</a>
        </div>
        <p class="article-content">{{ urzadzenie.opis }}</p>
    </div>
</article>
{% endfor %}
{%  endblock content %}