{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4">Lista Miejsc:</legend>
<div>
    <small class="text muted">
        <a class="ml-2" href="{{ url_for('dodajmiejsce') }}">Dodaj nowe miejsce</a>
    </small>
</div>
{% for miejsce in miejsca %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('pokazmiejsce', id_miejsce=miejsce.id_miejsce) }}">id:{{miejsce.id_miejsce}}, </a>
            <a class="mr-2">nazwa: {{miejsce.nazwa}}</a>
<!--            <small class="text-muted">{{ miejsce.nazwa }}</small>-->
        </div>
<!--        <h4><a class="article-title" href="#">{{ miejsce.nazwa }}</a></h4>-->
        <p class="article-content">{{ miejsce.opis }}</p>
    </div>
</article>
{% endfor %}
{%  endblock content %}