{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4">Lista Typów Urządzeń:</legend>
<div>
    <small class="text muted">
        <a class="ml-2" href="{{ url_for('dodajtypurzadzenia') }}">Dodaj typ urządzenia</a>
    </small>
</div>
{% for typurzadzenia in typyurzadzen %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('pokaztypurzadzenia', id_typ_urzadzenia=typurzadzenia.id_typ_urzadzenia) }}">id:{{typurzadzenia.id_typ_urzadzenia}}</a>
            <a class="mr-2">{{typurzadzenia.nazwa}}</a>
        </div>
        <p class="article-content">{{ typurzadzenia.opis }}</p>
    </div>
</article>
{% endfor %}
{%  endblock content %}