{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4">Lista Osób:</legend>
<div>
    <small class="text muted">
        <a class="ml-2" href="{{ url_for('dodajosobe') }}">Dodaj nowa osobe</a>
    </small>
</div>
{% for osoba in osoby %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('pokazosobe', id_osoba=osoba.id_osoba) }}">id:{{osoba.id_osoba}}</a>
            <a class="mr-2">{{osoba.nazwisko}}</a>
            <a class="mr-2">{{osoba.imie}}</a>
            <small class="text-muted">email: {{ osoba.email }}</small>
        </div>
        <!--<h4><a class="article-title" href="#">{{ osoba.nazwisko }}</a></h4>-->
        <p class="article-content">{{ osoba.opis }}</p>
    </div>
</article>
{% endfor %}
{%  endblock content %}