{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4">Osoby:</legend>
<div>
    <small class="text muted">

    </small>
</div>
{% for osoba in osoby %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('onecontainer', container_id=container.container_id) }}">id:{{osoba.id_osoba}}</a>
            <small class="text-muted">{{ osoba.nazwisko }}</small>
        </div>
        <h4><a class="article-title" href="{{ url_for('onecontainer', container_id=container.container_id) }}">{{
            osoba.nazwisko }}</a></h4>
        <p class="article-content">{{ osoba.opis }}</p>
    </div>
</article>
{% endfor %}
{%  endblock content %}